# --- Maven (Build-Dateien & Kompiliertes) ---
target/
dependency-reduced-pom.xml

# --- IntelliJ IDEA (IDE-Einstellungen & Cache) ---
.idea/
*.iml
/shelf/
/.idea/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# --- Simulation Outputs (Statistiken etc.) ---
# Ignoriert diese Dateien überall, egal in welchem Unterordner
stats.xml
tripinfos.xml
edgeData.xml
*.log

# --- Betriebssystem Müll ---
.DS_Store
Thumbs.db